[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = test001
[access "refs/*"]
	owner = group user/tangsha
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/tangsha
	label-Verified = -1..+1 group user/tangsha
	push = group user/tangsha
	read = group user/tangsha
	rebase = group user/tangsha
	removeReviewer = group user/tangsha
	submit = group user/tangsha
[access "refs/heads/*"]
	create = group user/tangsha
	push = +force group user/tangsha
	pushMerge = group user/tangsha
	read = group user/tangsha
[access "refs/tags/*"]
	push = group user/tangsha
	push = +force group user/tangsha
